<?php //    output the HTML-header  ?>
<!-- 010_html_header.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="public" content="all" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
<?php if ($start > 1 && $start) { echo("    <meta name=\"robots\" content=\"noindex, follow\"/> ");
   } else {
        echo("    <meta name=\"robots\" content=\"index, follow\"/> ");
   } ?>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="./templates/html/sphider-plus.ico" rel="shortcut icon" type="image/x-icon" />
<?php if (!$query) { echo("    <meta name=\"description\" content=\"$description0\"/> ");
   } else {
        echo("    <meta name=\"description\" content=\"$description1\"/> ");
   } ?>
    <title><?php if ($start < '2') $start = '1'; echo "".$mytitle.""; if ($catid && is_numeric($catid)) echo "".$cattree."" ; if ($query !='') echo " ".$sph_messages['resultsFor']." '".$query."'. ".$sph_messages['Result page'].": ".$start."";?></title>
    <link rel="stylesheet" href="<?php echo "".$template_dir."/".$template."/userstyle.css";?>" type="text/css" />
    <!-- Suggest scripts -->
    <script src="include/jQuery/jquery-1.9.1.js"></script>
    <script src="include/jQuery/jquery-ui-1.10.2.custom.js"></script>
    <link rel="stylesheet" href="<?php echo "".$template_dir."/".$template."/jquery-ui-1.10.2.custom.css";?>" type="text/css" />
	<script>
    $(function() {

		$( "#query_t" ).autocomplete({
            source: "include/suggest.php?media_only=<?php echo"$media_only"?>&type=<?php echo"$type"?>&catid=<?php echo"$catid"?>&category=<?php echo"$category"?>&db=<?php echo"$db"?>&prefix=<?php echo"$prefix"?>",
            minLength: <?php echo"$min_sug_chars"?>
		});

		// Hover states on the static widgets
		$( "#dialog-link, #icons li" ).hover(
			function() {
				$( this ).addClass( "ui-state-hover" );
			},
			function() {
				$( this ).removeClass( "ui-state-hover" );
			}
		);
	});
	</script>
<?php   if ($sep_media) { ?>
	<script>
    $(function() {

		$( "#query_m" ).autocomplete({
            source: "include/suggest.php?media_only=1&type=<?php echo"$type"?>&catid=<?php echo"$catid"?>&category=<?php echo"$category"?>&db=<?php echo"$db"?>&prefix=<?php echo"$prefix"?>",
            minLength: <?php echo"$min_sug_chars"?>
		});

		// Hover states on the static widgets
		$( "#dialog-link, #icons li" ).hover(
			function() {
				$( this ).addClass( "ui-state-hover" );
			},
			function() {
				$( this ).removeClass( "ui-state-hover" );
			}
		);
	});
	</script>
<?php   }   ?>
    <!-- Jump to page bottom script -->
    <script type='text/javascript'>
        function JumpBottom () {
            window.scrollTo(0,100000);
        }
    </script>
  </head>
  <body>
  <div id="content">
<!-- /010_html_header.html -->
<?php	//    End of HTML header    ?>
