<?php //    display noscript-warning and <h1> headline   ?>
<!-- 015_headline.html -->

      <noscript>
        <div id="noscript" class="warn cntr">
            <span>
            <br />
            <?php echo "".$sph_messages['Java1']."\r\n"?>
            <br /><br />
            <?php echo "".$sph_messages['Java2']."\r\n"?>
            <br /><br />
            </span>
        </div>
      </noscript>
    <div id="resulttop"><!-- this div gets closed in 050_result-header.html -->
        <div style="float: left; margin: 5px; font-weight: bold;"><a href="../index.php">&lt;&lt; Back to Index</a></div>
        <h1 style="width: 50%; margin: 5px auto;"><?php echo "".$mytitle.""; ?></h1>
<!-- /015_headline.html -->
<?php	//    End of header ?>
