<!-- 200_no media found.html -->
<?php   //  display no media results found
?>
<!--    Message: no media results found -->
    <div id="result_header" class="mainlist">
        <div class='warnadmin cntr'>
            <?php echo "".$msg.""?>
                <br />
            <?php if ($category != '-1') echo "".$sph_messages['catsearch'].""?> <span class="blue"><?php echo "".$row[0].""?></span>
        </div>
    </div>
<?php      //  end of message: no media results found ?>
<!-- /200_no media found.html -->
