body {
    background-color: #ccc;
    font-family: sans-serif;
    font-size: 100%;
}

a {
    color: #249;
    text-decoration: none;
    outline: none; /* don't outline image links (ff) */
}
a:hover { text-decoration: underline; }
a:visited { color: #649; }

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 5px;
}
h1 { font-size: 180%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
small { font-size: 80%; }
b { font-weight: bold; }

#rachel {
    display: block;
    width: 960px;
    height: 120px;
    background: #000 url('art/rachel_banner.jpg') no-repeat 0 0;
    text-indent: -1000em;
    border-radius: 5px;
    margin: auto;
}

#ip {
    text-indent: 0;
    color: #fff;
    float: right;
    margin: 10px 10px;
}

#content {
    width: 960px;
    margin: 10px auto;
}

/*-------------------------------------------*/
/* BEGIN index modules                       */
/*-------------------------------------------*/
.indexmodule {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}
/* clearfix rolled into indexmodule */
.indexmodule:before { content: " "; display: table; }
.indexmodule:after  { content: " "; display: table; clear: both; }
.indexmodule { *zoom: 1; }

.indexmodule img {
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
}

.indexmodule p { margin-top: 5px; clear: right; }

.indexmodule form {
    float: right;
    background: #ccc;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.indexmodule ul {
    float: left;  /* float keeps ul from flowing under thumbnail,  */
    width: 808px; /* defining max available width keeps float from */
                  /* squishing multiple columns too closely */
    margin: 10px 0 10px 0;
    font-size: 80%;
    line-height: 120%;
}
.indexmodule ul.double {
    column-count: 2; -webkit-column-count: 2; -moz-column-count: 2;
 }
.indexmodule ul.triple {
    column-count: 3; -webkit-column-count: 3; -moz-column-count: 3;
 }
.indexmodule ul.quad   {
    column-count: 4; -webkit-column-count: 4; -moz-column-count: 4;
 }
.indexmodule .listhead {
    font-weight: bold; font-size: 120%; margin-bottom: 2px;
}

.indexmodule table {
    width: 808px;
    float: right;
    font-size: small;
    margin: 10px 0 10px 0;
}

.indexmodule td {
    background: #eef;
    border: 1px solid #ccc;
    padding: 3px 2px;
    text-align: center;
}

.indexmodule .smallblurb {
    font-size: 80%;
    margin-left: 130px;
}

.indexmodule input[type="text"] { width: 20em; margin-left: 2px; }
.indexmodule input[type="submit"] { width: 14em; }

/*-------------------------------------------*/
/* END for index modules                     */
/*-------------------------------------------*/

#rachel-small {
    display: block;
    background: #000 url('art/rachel-banner-small.png') no-repeat 5px 0;
    height: 28px;
    margin-bottom: 5px;
    text-indent: -1000em;
}

.haut {
    width: 956px;
    margin: auto;
    border-radius: 5px;
    background: #666;
    padding: 2px; 
}

.haut ul {
    font-size: 80%;
    font-weight: bold;
    list-style-type:none;
    margin:10;
    padding:0px;
    margin: auto;
}

.haut li {
    display:inline;
    float:left;
    padding:5px;
    margin-top: 2px;
}

.haut a {
    color:#fff;
    margin:10px;
    text-decoration: none;
}

.haut a:hover {
    color:#ff3;
    text-decoration: underline;
}

.haut form {
    float: right;
    padding: 2px;
    border-radius: 5px;
}

#footer_right {
    float:right; 
    padding-top:5px;
    padding-right: 15px;
    font-size:0.8em;
    font-weight: bold;
    color:#ffffff;
}

/* used on about.html page only - clean this up */
.thumblist {
    /* automatically expands to fill container */
    padding: 9px 10px 10px 9px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-top:  1px solid #666;
    border-left: 1px solid #666;
    border-bottom:  2px solid #666;
    border-right: 2px solid #666;
}


/*-------------------------------------------*/
/* sphider (search) specific                 */
/*-------------------------------------------*/
#results { margin-top: 20px; }
#results .title { font-size: 100%; }
#results .url { font-size: 80%; color: green; margin: 5px 0 5px 0; }
#results .description{ font-size: 90%; margin-bottom: 10px; }

