/* Stylesheet for Sphider-plus */
a { padding: 6px; text-decoration: underline; }
a:active { background: transparent; color: #1111CC; text-decoration: underline; }
a:link { text-decoration: underline; }
a:hover { background: #5F5F5F; color: #FF0; padding: 6px; text-decoration: none; }
a:visited, .sphome a { text-decoration: none; }
a.bkbtn { background: transparent url(backbtn.gif) no-repeat; color: #000; font-size: 0.8em; line-height: 1.8em; margin: 10px 0; padding-left: 27px; }
a.bkbtn:hover { background: #FFDC99 url(backbtn.gif) no-repeat; color: #000; font-size: 0.8em; line-height: 1.8em; margin: 10px 0; padding-left: 27px; text-decoration: underline; }
a.navdown { background: transparent url(navdown.jpg) no-repeat 0px; color: #008; float: right; font: 0.8em/1.4em Arial,Helvetica,sans-serif; margin: 0; padding: 2px 10px 2px 19px; width: 2em; }
a.navdown:hover { background: #666 url(navdown.jpg) no-repeat 0px; color: #FF0; }
a.navup { background: transparent url(navup.jpg) no-repeat 0px; color: #008; float: right; font: 0.8em/1.4em Arial,Helvetica,sans-serif; margin: 0; padding: 2px 0px 2px 19px; width: 2em; }
a.navup:hover { background: #666 url(navup.jpg) no-repeat 0px; color: #FF0; }
a.pnum, pnum { margin: 0; padding: 0 2px; }
a.options { background: transparent; color: #00B; font-weight: bold; margin: 0; padding: 5px 4px; text-align: center; text-decoration: none; width: 100%; }
a.resize { background: url(aaa.gif) no-repeat; margin: 10px 0 0 0; padding: 8px 20px; width: 55px;}
a.resize:hover { background: url(aaa.gif); line-height: 1.6em;}
body { background: #FFF; color: #000; font: 100% Verdana,Arial,Helvetica,sans-serif; margin: 0 auto; padding: 0; text-align: left; width: 950px; border: 0px solid #000;}
dd { text-align: left; }
dd, dt { font-size: 0.8em; font-weight: normal; padding: 6px; }
div { text-align: left; }
dl {  margin: 5px 0px; padding: 0; }
dt { background: #FFF; color: #000; display: block; float: left; font-weight: normal; height: 100%; margin-right: 10px; text-align: right; }
em { font-style: normal; font-weight: bold; }
fieldset { background: #FFF; color: #000; line-height: 1.1em; margin: 4px 0; padding: 0 0 4px 4px; }
form { margin: 0; padding: 0; }
h1 { background: #FFF; color: #000; font-size: 1em; margin: 0px auto; padding: 10px; text-align: center; }
hr, hr.powered { background-color: #91A681;  margin-left: 0px; margin-right: 0px; }
html { height: 100%; margin-bottom: 1px; }
input, label, .mid { vertical-align: middle; }
/* uncomment this block to over-ride the native browser button
 input.sbmt{ background: #e5ecf9; color: #000; font-size: 12px; font-weight: bold; margin: 0; padding: 4px 5px; vertical-align: middle; }
input:text { background: #FFF; color: #000; font-size: 1em; margin-bottom: 0.5em; vertical-align: middle; }*/
input:active, input:focus, textarea:active, textarea:focus { background: #FFF; color: #000; }
label { display: list-item; margin: 4px 0px 0px 50px; padding: 4px; width: auto; }
legend { background: #DDD; font-size: 0.9em; margin: 0 0 6px 2px; padding: 2px 5px; }
li { font-size: 0.8em; line-height: 1.1em; list-style: none; margin: 0; padding: 0px 0px 8px 0px; vertical-align: baseline; }
li.indented { margin-left: 6em; }
p, .txt { font-size: 0.8em; font-weight: normal; text-align: left; }
/*table { border: 1px solid #777; border-collapse: collapse; border-spacing: none; empty-cells: show; margin: 0 auto; padding: 0; }*/
table { empty-cells: show; margin: 0 auto; padding: 0; }
table tr td { font-size: 0.8em; padding: 5px; }
table tr td.bd { text-align: right; vertical-align: baseline; }
ul { margin: 0; padding: 4px; }
.advsrch { font-size: 0.8em; text-align: center; }
.alert, .grey { background: fff; margin: 2px 0px; padding: 0px 2px; }
.bcf { background: #BCF2C9; color: #000; margin: 0; padding: 4px; }
.bordl{}
.brk, .skp .hide{ display: none; font-size: 0.1em; line-height: 0.1em; margin: 0; padding: 0; visibility: hidden; }
.cat1:visited { background: transparent;  color: #5555AA; font-size: 16px; font-weight: bold; }
.catbanner { background: #e5ecf9; color: #008; font-weight: bold; margin-top: 15px; padding: 3px; }
.cfc { background: url(fader.jpg) #CFC; color: #000; margin: 0; padding: 4px; }.cntr { font-size: 1em; margin: 0 auto; text-align: center; }
.clear { clear: both; height: 1px; overflow: hidden; }
.cllt { clear: left; }
.clrt { clear: right; }
.cntr { margin: 0 auto; text-align: center; }
.cntr08 { margin: 0 auto; text-align: center;  font-size: 0.8em;}
.description{ font-size: 1.0em; line-height: 1.4em; margin-left: 20px; padding: 0; width: 85%; }
.dtd { width: 95%; }
.dtd dd { margin-left: 19%; }
.dtd dt { width: 18%; }
.em, .bd { font-weight: bold; padding: 6px 0px; }
.evrow { background: #FFF; color: #000; margin: 0; padding: 6px 4px; }
.evrow2 { background: #FFF; color: #000; margin: 0; padding: 6px 4px 6px 60px; }
.headline { background: url(hdline.jpg) #E5ECF9; color: #000; font-weight: bold; margin: 0; padding: 6px 4px; }
.hl { background: #666; color: #FEFF0B;  padding: 6px;  font-weight: bold;  }
.hide { display: none; font-size: 0.1em; line-height: 0.1em; margin: 0; padding: 0; visibility: hidden; }
.home { background: #FFF; color: #000; margin: 0 0 15px 0; padding: 4px; }
.indent { padding: 6px 4px 6px 40px; }
.left { text-align: left;}
.links, .blue { background: transparent; color: #00F; }
.ltfloat { float: left; margin-right: 0px; }
.ltimg {  float: left; margin: 0; padding: 0; }
.main_cat1 { background: transparent; color: #0000FF; font-size: 1em; font-weight: bold; }
.main_cat2 { background: transparent; color: #0000FF; font-size: 0.9em; font-weight: bold; }
.mak_1{ font-weight: bold; }
.mak_2{ background: #66FFFF; }
.mak_4{ background: #99FF00; }
.mak_3{ background: #FFFF00; }
.mak_5{ color: #f00;  font-weight: bold; }
.odrow { background: #FFF; color: #000; margin: 0; padding: 6px 4px; }
.odrow2 { background: #FFF; color: #000; margin: 0; padding: 6px 4px 6px 60px; }
.mainlist { background: #E5ECF9; color: #000; font-size: 0.9em; font-weight: bold; margin: 2px 0; padding: 6px 4px; text-align: center; }
.odrow, .evrow, .indent {}
.options { background: #FFF; color: #000; margin: 0; padding: 6px 4px; text-align: center; }
.panel { background: #FFF; color: #000; margin: 0px auto; padding: 10px 5px; width:800px; }
.panel input, .panel textarea { margin-left: 50px; padding: 4px; }
.plnav { display: block; font: 1em/1.6em Arial,Helvetica,sans-serif; margin: 3px; padding: 0 2px 0 5px; text-align: left; }
.rtimg { float: right; margin: 0; padding: 0; width: 220px; }
.resultlist {width: 100%}
.sbmt{ background: #E5ECF9; color: #000; font-size: 1.0em; font-weight: normal; margin: 0; padding: 3px 5px 3px 5px; vertical-align: middle;}
.searchBox { background: #FFF; text-align: center; width:60%; border:1px solid #070; border-radius: 10px; box-shadow: 10px 10px 3px #777; }
.sml { font-size: 0.8em; }
.sphome { background: url(nav.jpg) 2px 0px; text-align: center; }
.stats { background: #FFF; border: 0px solid #777; color: #000; font-size: 0.8em; margin: 10px 0px 0px 0px; padding: 4px; text-align: center; }
.submenu { background: #FFF; color: #000; font-size: 0.9em; font-weight: bold; height: 1em; margin-bottom: 20px; padding: 10px; }
.submenu li { height: 1.3em; float: left; margin-left: -1px; white-space: nowrap; }
.submenu li a { background: transparent; color: #00B; font-weight: bold; padding: 6px 4px; text-decoration: none; }
.submenu li a:hover, a.options:hover { background: #E5ECF9; font-weight: bold; padding: 5px 3px; text-decoration: underline; }
.submenu li a:active {}
.submenu ul { list-style-type: none; margin: 0 0 0 25px; padding: 0; }
.suggest { font-size: 0.8em; position:absolute; width:150px; background-color:#EEEEEE; margin:0px; padding:0px;}
.suggest ul { list-style-type:none; margin:0px; padding:0px;}
.suggest ul li.selected { background-color: #C3E3CC;}
.suggest ul li { list-style-type:none; display:block; margin:0; padding:2px; height:12px; cursor:pointer;}
.tblhead { background: #E5ECF9; color: #000; font-weight: bold; padding: 6px; text-align: center; }
.title { font-size: 1.1em; line-height: 1.4em; margin: 0; padding: 3px 2px 3px 0px; text-align: left; }
.url { background: transparent; font-size: 0.8em; color: #115599; margin: 2px 0 5px 20px; padding: 0;  }
.w60 { margin: 0 auto; width: 60%; }
.w75 { margin: 0 auto; width: 75%; }
.w85 { margin: 0 auto; width: 85%; }
.warnadmin, .red { background: #FEFF04; color: #EE3C00; }
.warn{ background: #bbb; color: #EE3C00; }
.warn, .red .warnok, .green, .links, .blue { font-weight: bold; padding: 0px 2px; }
.warnok, .green { background: transparent; color: #008001; }
.webpagebanner { background: #e5ecf9; color: #666; font-weight: bold; margin-top: 20px; padding: 3px; }
.wrapper { background: #FFF; color: #000; margin: 0px auto; padding: 10px 10px 2px 10px; width: 730px; }
.x2 { width: 49.5%; /* all x values used as dividers 1/2, 1/3, 1/4 etc...  */ }
.x3 { width: 33%; }
.x4 { width: 25%; }
.x5 { width: 20%; }
.x6 { width: 16%; }
.x8 { width: 12.5%; }
.y3 { height: 3em; }
.y4 { height: 4em; }
.y5 { height: 5em; }
#admin { margin: 0; padding: 10px; text-align: left; }
#admin p.warn, #admin p.warnok { text-align: center; }
#cat_main {  background: #FFF; font-size: 0.9em; font-weight: bold; text-align: center; width: 60%;}
#cat_table { background: #FFF; width: 60%; }
#didumean { font-size: 1em; margin: 10px; text-align: center; }
#dbase td, #dbase table, td { }
#footer { background: #FFF;  font-size: 0.9em; font-weight: bold; line-height: 1.4em; margin: 4px auto; padding:3px; text-align: center; width: 80%; }
#footer img { vertical-align: middle; }
#main { background: #FFF; clear: both; color: #000; margin-top: -1px; text-align: left; width: 100%; }
#other_pages, #common_report { background: #FFF; font-size: 0.8em; color: #000; padding: 6px 2px; text-align: center; }
#report { background: #fff; margin: 0; padding: 10px; text-align: left; width: 950px; }
#result_report { background: #FFF;  font-size: 0.9em; font-weight: bold; color: #000; margin: 0 0 10px 0; padding: 4px; text-align: center; }
#results{ font-size: 0.8em; width: 100%; }
#settings { background: #fff; color: #000; margin: 0 auto; padding: 1px; }
#settings input, #settings select { display: inline; float: left; padding: 4px; vertical-align: middle; }
#settings label, #settings p { display: inline; float: left; list-style: none; margin: 0; padding: 6px; text-align: right; vertical-align: middle; width: 600px; }
#stats dl{ margin: 0 auto; width: 80%; }
#sub_cat { font-size: 0.8em; }
#tabs { clear: both; font-size: 0.9em; padding: 6px; text-align: center; }
#tabs li { float: left; height: 26px; }
#tabs ul { display: inline; list-style-type: none; margin: 0; }
#tabs ul li a { margin: 0 0 0 3px; padding: 7px; width: 93px; }
#tabs ul li a.default { background: url(nav.jpg) 0px 0px #CFC; color: #000; float: left; font-weight: bold; position: relative; text-decoration: none; top: 0; }
#tabs ul li a.selected { background: url(nav.jpg) 0px -105px #FFF; color: #000; float: left; font-weight: bold; position: relative; text-decoration: none; top: 0; }
#tabs ul li a:hover { background: url(nav.jpg) 0px -35px #E5ECF9; color: #EE3C00; float: left; position: relative; text-decoration: none; top: 0; }
#tabs ul li a:active { background: url(nav.jpg) 0px -70px #C6DDC4; color: #000; float: left; position: relative; text-decoration: none; top: 0; }
#vertmenu { font-weight: bold; margin: 0 2px 0 20px; padding: 0; }
#vertmenu ul { list-style: none; margin: 0 2px 4px 2px; padding: 0; }
#vertmenu ul li { float: left; line-height: 0.9em; text-align: center; width: 90px; }
#vertmenu ul li a { background: url(nav.jpg) 0px -10px #FFF; color: #000; display: block; font-size: 0.7em; margin: 2px; padding: 2px; text-decoration: none; width: 88%; }
#vertmenu ul li a:hover { background: url(nav.jpg) 0px -42px #E5ECF9; color: #000; text-decoration: underline; }
#vertmenu ul li a:active { background: url(nav.jpg) 0px -72px; }
